<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Garchomp</string>
		<key>Number</key>
		<string>445</string>
		<key>Types</key>
		<array>
			<string>Dragon</string>
			<string>Ground</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dragonite</string>
		<key>Number</key>
		<string>149</string>
		<key>Types</key>
		<array>
			<string>Dragon</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gengar</string>
		<key>Number</key>
		<string>094</string>
		<key>Types</key>
		<array>
			<string>Ghost</string>
			<string>Poison</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Skarmory</string>
		<key>Number</key>
		<string>227</string>
		<key>Types</key>
		<array>
			<string>Steel</string>
			<string>Flying</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Blissey</string>
		<key>Number</key>
		<string>242</string>
		<key>Types</key>
		<array>
			<string>Normal</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hawlucha</string>
		<key>Number</key>
		<string>701</string>
		<key>Types</key>
		<array>
			<string>Fighting</string>
			<string>Flying</string>
		</array>
	</dict>
</array>
</plist>
