<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Bulbasaur</string>
		<key>Number</key>
		<string>001</string>
		<key>Types</key>
		<array>
			<string>Grass</string>
			<string>Poison</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ivysaur</string>
		<key>Number</key>
		<string>002</string>
		<key>Types</key>
		<array>
			<string>Grass</string>
			<string>Poison</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Venusaur</string>
		<key>Number</key>
		<string>003</string>
		<key>Types</key>
		<array>
			<string>Grass</string>
			<string>Poison</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Charmander</string>
		<key>Number</key>
		<string>004</string>
		<key>Types</key>
		<array>
			<string>Fire</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Charmeleon</string>
		<key>Number</key>
		<string>005</string>
		<key>Types</key>
		<array>
			<string>Fire</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Charizard</string>
		<key>Number</key>
		<string>006</string>
		<key>Types</key>
		<array>
			<string>Fire</string>
			<string>Flying</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Squirtle</string>
		<key>Number</key>
		<string>007</string>
		<key>Types</key>
		<array>
			<string>Water</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wartortle</string>
		<key>Number</key>
		<string>008</string>
		<key>Types</key>
		<array>
			<string>Water</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Blastoise</string>
		<key>Number</key>
		<string>009</string>
		<key>Types</key>
		<array>
			<string>Water</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Caterpie</string>
		<key>Number</key>
		<string>010</string>
		<key>Types</key>
		<array>
			<string>Bug</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Metapod</string>
		<key>Number</key>
		<string>011</string>
		<key>Types</key>
		<array>
			<string>Bug</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Butterfree</string>
		<key>Number</key>
		<string>012</string>
		<key>Types</key>
		<array>
			<string>Bug</string>
			<string>Flying</string>
		</array>
	</dict>
</array>
</plist>
