<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>c7c7cc</string>
	<string>fc880f</string>
	<string>55dae1</string>
	<string>ed4694</string>
	<string>fec418</string>
	<string>d6cec3</string>
	<string>a5de37</string>
	<string>7b72e9</string>
	<string>8e8e93</string>
	<string>fd6631</string>
	<string>1b9af7</string>
	<string>4cd964</string>
	<string>ffe93b</string>
	<string>db49d8</string>
	<string>28cdfb</string>
	<string>ff667a</string>
	<string>4a4a4a</string>
	<string>fcb4e6</string>
</array>
</plist>
